body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

table, th, td {
    border: 1px solid black;
}

td{
    width: 30px;
    height: 30px;
}

#myDiv{
    margin-top: 7em;
    justify-content: center;
    align-items: center;
}

#mainForm{
    padding: 70px;
}

#matrix{
    display: flex;
    justify-content: center;
    align-items: center;
}